html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #A4A4A4;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    color: #E6E6E6;
}

header, .options {
    width: 100%;
    height: 12%;
    background-color: #848484;
    margin-bottom: 0.4%;
}

.contacts {
    width: 24.8%;
    height: 100%;
    display: inline-block;
    background-color: #848484;

}

.info {
    float: right;
    width: 74.8%;
    height: 100%;
    display: inline-block;
    background-color: #848484;

}

.contact {
    width: 98%;
    height: 12%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    background-color: #424242;
    justify-content: space-around;
    margin: 4px;
}

.contact > .photo {
    width: 22%;
    height: 99%;
}

.contact > .description {
    width: 78%;
    height: 100%;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3%;
    padding-right: 3%;
}

.photo > img {
    max-height: 100%;
}

progress {
    height: 20%;
    width: 100%;
    border-radius: 2px;
}
