<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico"/>
    <link rel="stylesheet" href="../css/contacts.css">
</head>
<body>
<header>
    <div class="options">

    </div>
</header>
<div class="contacts">
    <div class="contact">
        <div class="photo">
            <img src="../static/photo_male.jpg">
        </div>
        <div class="fio">
            <div>Кириллов Кирилл Кириллович</div>
            <div>Отдел по борьбе с наркотиками</div>
        </div>
    </div>
</div>
<div class="info">

</div>
</body>
</html>