<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico"/>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
</head>
<body>
<div class="flex-container">
    <form class="flex-item" action="/home" method="post">
        <div>
            <label>
                <span>Имя*</span>
                <input type="text" required autocomplete="off"/>
            </label>
        </div>
        <div>
            <label>Почта*</span>
                <input type="email" required autocomplete="off"/>
            </label>
        </div>
        <div>
            <label>
                <span>Пароль*</span>
                <input type="password" required autocomplete="off"/>
            </label>
        </div>
        <div>
        <button type="submit">
            Регистрация
        </button>
        </div>
    </form>
    <form class="flex-item" action="/home" method="post">
        <div>
            <label>
                <span>Имя/Почта*</span>
                <input type="email" required autocomplete="off"/>
            </label>
        </div>
        <div>
            <label>
                <span>Пароль*</span>
                <input type="password" required autocomplete="off"/>
            </label>
        </div>
        <div>
        <button type="submit">
            Вход
        </button>
        </div>
    </form>
</div>
</body>
</html>
